---
layout: base
---

<!-- LAY - HOME -->
<body class="antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900">
    <header></header>

    {{ content | safe }}

 <!-- LAY - HOME -->